*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background: no-repeat center / cover url(pexels-pixabay-267885.jpg);
}

nav{
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}
nav ul{
    margin-right: 20px;
    list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul{
    margin-right: 20px;
    list-style: none;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 7px;
}
nav ul li a.active,nav ul li a:hover{
    background: blue;
    border-radius: 7px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content h1{
    color: #fff;
    font-weight: 900;
    font-size: clamp(50px,5vw,40px);
    text-align: center;
}
.content h2{
    color: #fff;
    font-weight: 500;
    font-size: clamp(20px,5vw,40px);
    text-align: center;
}
.buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:1rem;
}
button{
    margin: 0 1rem;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background: blue;
}
@media (max-width:475px) {
    
}