@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css");
*{
    margin:0;
    padding:0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}
body{
    background: #dfe9f5;
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 30px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 35px;
    height: 35px;
    border-radius: 50%;

}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(85, 83,85);
    display: table;
    width: 300px;
    height: 40px;
    padding: 20px;
}
.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;

}
a:hover{
    background: #eee;
}
nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: -5;
}
.main--content{
    position: center;
    background: #ebe9e9;
    width: 1800x;
    padding: 2rem;

}
.card--container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;

}
.card--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.main--title{
color: rgba(113,99 ,186 , 255);
padding-bottom: 10px;
font-size: 15px;
}
.payment--card{
    background: rgb(229,223 , 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.payment--card:hover{
    transform: translateY(-5px);
}
.card--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.amount{
    display:flex;
    flex-direction: column;
}
.title{
    font-size: 25px;
    font-weight: 200;
}
.table_responsive{
    max-width: 500px;
    max-height: 100px;
    border: 1px solid #00bcd4;
    background-color: #efefefe3;
    padding: 15px;
    overflow: auto;
    margin: auto;
    border-radius:4px ;

}
table{
    width: 70%;
    font-size: 13px;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse;
}
table>thead{
    background-color: #00bcd4;
    color: #fff;
}
table>thead th{
    padding: 15px;

}
table th,
table td{
    border: 1px solid #00000017;
    padding: 10px 15px;
}
table>tbody>tr>td>img{
    display: inline-block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px #0003;
}

.action_btn{
    display: flex;
    justify-content: center;
    gap: 5px;
    bottom: unset;

}
.action_btn>a{
    text-decoration: none;
    color: #444;
    background: #fff;
    border: 1px solid;
    display: inline-block;
    padding: 7px 20px;
    font-weight: bold;
    font-size: small;
    border-radius: 1px;
    transition: 0.3s ease-in-out;

}
.action_btn>a:nth-child(1){
    border-color: #26a69a;

}
.action_btn>a:nth-child(2){
    border-color: #444;
}
.action_btn>a:hover{
    background-color: #fff;
    transition: 0.3s ease-in-out;
}
table>tbody>tr:nth-child(even){
    background-color: rgb(238, 238, 238);
}
table>tbody>tr:hover{
    filter: drop-shadow(0px 2px 6px #0002);
}
.add-admin-button {
    background-color: #26a69a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .add-admin-button:hover {
    background-color:#26a69a;
  }
  *{
    box-sizing: border-box;
}



body {

    font-family: Arial, sans-serif;
    height: 50vh;
    display: grid;
    justify-content: center ;
    align-items: center;
    font-size: 0.9rem;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    width: 150%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid black
    ;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: darkcyan;
  }
  